@use 'abstracts/functions' as func;
@use 'abstracts/mixins' as mixin;
@use 'abstracts/variables' as vars;
@use 'themes/pallete' as pallete;

.sidebar {
    height: 100%;

    &__mat-drawer {
        background-color: pallete.$background;
        min-width: func.to-rem(250px);
        border-right: vars.$border-light;
    }

    &__drawer-container {
        height: inherit;
        padding-bottom: func.to-rem(10px);

        @include mixin.flex-set(space-between, flex-start, column);
    }

    &__links-container,
    &__link-wrapper {
        width: 100%;
    }

    &__nav-tree {
        padding: func.to-rem(vars.$size-xs);
        gap: func.to-rem(10px);

        @include mixin.flex-set(center, flex-start, column);
    }

    &__link {
        padding-block: func.to-rem(10px);
        width: 100%;
        gap: func.to-rem(10px);
        text-decoration: none;

        @include mixin.flex-set(flex-start);

        &:hover,
        &:focus {
            color: pallete.$primary;
        }
    }

    &__drop-down-btn {
        padding: 0;
        width: 100%;
        background: pallete.$background;

        @include mixin.flex-set(flex-start);
    }

    &__nested-link {
        padding-left: func.to-rem(40px);
        gap: func.to-rem(10px);

        @include mixin.flex-set(center, center, column);
    }

    &__link-hidden {
        display: none;
    }

    &__link-active {
        color: pallete.$primary;
    }

    &__divider {
        border-top: vars.$border-light;
    }

    &__bottom-tray {
        gap: func.to-rem(vars.$size-lg);
        align-self: center;

        @include mixin.flex-set;
    }
}
