.success-snackbar {
    --mdc-snackbar-supporting-text-color: #28a745;
    --mat-snack-bar-button-color: #28a745;
}

.error-snackbar {
    --mdc-snackbar-supporting-text-color: #ff2c2c;
    --mat-snack-bar-button-color: #ff2c2c;
}

.warning-snackbar {
    --mdc-snackbar-supporting-text-color: #e9d502;
    --mat-snack-bar-button-color: #e9d502;
}
