@use 'abstracts/mixins' as mixin;
@use 'abstracts/functions' as func;
@use 'abstracts/variables' as vars;

.button {
    width: 100%;
    height: 100%;
    padding-block: func.to-rem(10px);

    &__container {
        gap: func.to-rem(10px);

        @include mixin.flex-set;
    }

    &__icon {
        height: func.to-rem(vars.$size-md);
    }
}
