<mat-card class="login">
    <mat-card-header class="login__heading">
        <h1 class="mat-headline-3">Restaurant Portal</h1>
        <p class="mat-body-1">Log in to manage orders, menus, and stats.</p>
    </mat-card-header>
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="login__form">
        <mat-form-field appearance="outline" class="login__form-item">
            <mat-label>Email Address</mat-label>
            <input
                matInput
                type="email"
                formControlName="email"
                placeholder="xyz@jtg.com"
            />

            <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
                Email is required
            </mat-error>

            <mat-error
                *ngIf="
                    loginForm.get('email')?.hasError('email') &&
                    !loginForm.get('email')?.hasError('required')
                "
            >
                Please enter a valid email
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="login__form-item">
            <mat-label>Password</mat-label>

            <input
                matInput
                [type]="hidePassword ? 'password' : 'text'"
                formControlName="password"
            />

            <button
                type="button"
                mat-icon-button
                matSuffix
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword"
            >
                <mat-icon>{{
                    hidePassword ? 'visibility_off' : 'visibility'
                }}</mat-icon>
            </button>

            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                Password is required
            </mat-error>
        </mat-form-field>

        <button
            mat-raised-button
            color="primary"
            type="submit"
            class="login__form-item"
            [disabled]="loginForm.invalid"
        >
            LOGIN
        </button>
    </form>
</mat-card>
