@use 'abstracts/mixins' as m;
@use 'abstracts/functions' as v;

:host {
    height: 100vh;

    @include m.flex-set;
}

.login {
    padding: v.to-rem(12px);
    gap: v.to-rem(24px);
    box-shadow: 0 5px 10px 2px #0000001f;

    &__heading {
        padding: 0;

        @include m.flex-set(center, center, column);
    }

    &__form {
        gap: 10px;

        @include m.flex-set(center, center, column);
    }

    &__form-item {
        width: 100%;
    }

    @include m.respond(tablet) {
        width: 35%;
    }

    @include m.respond(desktop-lg) {
        width: 25%;
    }
}
