$primary-font-col: #000000de;
$secondary-font-col: #00000099;
$white: #fff;

$success: #28a745;
$error: #ff2c2c;
$warn: #e9d502;
$warn-light: #fef3c7;
$sucess-text: $white;
$error-text: #fff;
$warn-text: #d97706;
$primary: #0e9f6f;
$background: $white;
$icon-green: #2e7d32;
$icon-green-bg: #4caf5014;
$icon-blue: #0288d1;
$icon-blue-bg: #03a9f414;
$icon-orange: #ed6c02;
$icon-orange-bg: #ff980014;
