$primary-palette: (
    50: #e5f5ee,
    100: #c0e6d5,
    200: #98d6bb,
    300: #6cc6a1,
    400: #48ba8e,
    500: #14ae7a,
    600: #0e9f6f,
    700: #088d61,
    800: #087b55,
    900: #0b5c3e,
    contrast: (
        50: #000000de,
        100: #000000de,
        200: #000000de,
        300: #000000de,
        400: #000000de,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
    ),
);

$primary-font-col: #000000de;
$secondary-font-col: #00000099;
