@use 'abstracts/mixins' as m;
@use 'abstracts/functions' as fun;

.header {
    background-color: white;
    border-bottom: 1px solid #0000001f;
    position: relative;

    @include m.flex-set(space-between);

    &__profile-btn {
        border-radius: 50%;
        padding: 0;
    }

    &__profile-img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }

    &__menu-email {
        padding: fun.to-rem(20px);
    }
}
