@use 'abstracts/mixins' as m;
@use 'abstracts/functions' as fun;

.header {
    background-color: white;
    border-bottom: 1px solid #0000001f;
    position: relative;

    @include m.flex-set(space-between);

    &__hamburger {
        @include m.flex-set;
    }

    &__logo {
        display: none;
    }

    &__profile-btn {
        border-radius: 50%;
        padding: 0;
    }

    &__profile-img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }

    &__menu-container {
        padding: 10px;
        gap: 10px;

        @include m.flex-set(center, center, column);
    }

    &__menu-img {
        width: 50%;
        border-radius: 50%;
    }

    &__menu-details {
        gap: 10px;

        @include m.flex-set(center, start, column);
    }

    @include m.respond(tablet) {
        &__hamburger {
            display: none;
        }

        &__logo {
            display: block;
        }
    }
}
