<mat-card class="item-card">
    <mat-card-content class="item-card__container">
        <div *ngIf="imageUrl" class="item-card__image-wrapper">
            <img
                src="{{ imageUrl }}"
                alt="Customer Profile Picture"
                class="item-card__image"
            />
        </div>
        <div class="item-card__details">
            <h6 class="mat-headline-6">{{ label }}</h6>
            <p class="mat-subtitle-2">{{ subtitle }}</p>
        </div>
        <h6 class="mat-headline-6">{{ value }}</h6>
    </mat-card-content>
</mat-card>
