@use 'abstracts/mixins' as mixin;
@use 'abstracts/functions' as func;
@use 'abstracts/variables' as vars;

.header {
    background-color: vars.$background;
    border-bottom: vars.$border-light;
    padding-block: func.to-rem(5px);

    @include mixin.flex-set(space-between);

    &__hamburger {
        display: block;
    }

    &__profile-btn {
        border-radius: 50%;
        padding: 0;
    }

    &__profile-img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }

    &__menu-container {
        padding: func.to-rem(10px);
        gap: func.to-rem(10px);
        background-color: vars.$background;

        @include mixin.flex-set(center, center, column);
    }

    &__menu-img {
        width: 50%;
        border-radius: 50%;
    }

    &__menu-details {
        gap: func.to-rem(10px);

        @include mixin.flex-set(center, flex-start, column);
    }

    @include mixin.respond(desktop-sm) {
        &__hamburger {
            display: none;
        }
    }
}
