<mat-toolbar class="header">
    <button
        mat-icon-button
        aria-label="User profile menu"
        class="header__profile-btn header__hamburger"
        *ngIf="authservice.isLoggedIn()"
        (click)="handleHamburgerClick()"
    >
        <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/">
        <img src="assets/favicon.svg" alt="Company Logo" />
    </a>
    <ng-container *ngIf="authservice.currUser$ | async as user">
        <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="User profile menu"
            class="header__profile-btn"
        >
            <img
                src="{{ user.profileImg ? user.profileImg : defaultImg }}"
                alt="{{ user.name }}'s Profile Picture"
                class="header__profile-img"
            />
        </button>

        <mat-menu #menu="matMenu">
            <div class="header__menu-container">
                <img
                    src="{{ user.profileImg ? user.profileImg : defaultImg }}"
                    alt="{{ user.name }}'s Profile Picture"
                    class="header__menu-img"
                />
                <div class="header__menu-details">
                    <p class="mat-headline-5">
                        Name:
                        <span class="mat-subtitle-1">{{ user.name }}</span>
                    </p>
                    <p class="mat-headline-5">
                        Email:
                        <span class="mat-subtitle-1">{{ user.email }}</span>
                    </p>
                    <p class="mat-headline-5">
                        Role:
                        <span class="mat-subtitle-1">{{ user.role }}</span>
                    </p>
                </div>

                <mat-divider></mat-divider>
                <app-button
                    label="LOGOUT"
                    class="header__menu-btn"
                    (click)="logout()"
                ></app-button>
            </div>
        </mat-menu>
    </ng-container>
</mat-toolbar>
