@use '@angular/material' as mat;
@use './palette' as palette;
@use './typography' as typo;

$primary: mat.define-palette(palette.$primary-palette, 600);
$accent: mat.define-palette(mat.$amber-palette, 600);
$warn: mat.define-palette(mat.$red-palette, 600);

$primary-theme: mat.define-light-theme(
    (
        color: (
            primary: $primary,
            accent: $accent,
            warn: $warn,
        ),
    )
);

@include mat.core;
@include mat.core-theme($primary-theme);
@include mat.button-theme($primary-theme);
@include mat.form-field-theme($primary-theme);
@include mat.snack-bar-theme($primary-theme);
@include mat.chips-theme($primary-theme);
@include mat.all-component-typographies(typo.$typography);
