@use '../abstracts/colors' as c;
@use '../base/typography' as typo;
@use '@angular/material' as mat;

$primary: mat.define-palette(c.$primary-palette, 600);
$warn: mat.define-palette(mat.$red-palette);

$primary-theme: mat.define-light-theme(
    (
        color: (
            primary: $primary,
            accent: $primary,
            warn: $warn,
        ),
    )
);

@include mat.core;
@include mat.all-component-themes($primary-theme);
@include mat.all-component-typographies(typo.$typography);
