@use '@angular/material' as mat;
@use './colors' as col;
@use './typography' as typo;

$primary: mat.define-palette(col.$primary-palette, 600);
$warn: mat.define-palette(mat.$red-palette);

$primary-theme: mat.define-light-theme(
    (
        color: (
            primary: $primary,
            accent: $primary,
            warn: $warn,
        ),
    )
);

@include mat.core;
@include mat.all-component-themes($primary-theme);
@include mat.all-component-typographies(typo.$typography);
