@use '../abstracts/variables' as v;
@use '../abstracts/functions' as fn;
@use './colors' as col;
@use '@angular/material' as mat;

/// mat.define-typography-level(
///     $font-size,
///     $line-height,
///     $font-weight,
/// )

//For Main Headings
$headline-1: mat.define-typography-level(
    fn.to-rem(v.$size-2xl),
    fn.to-rem(62.5px),
    v.$bold
);
// For Card Container Headings
$headline-2: mat.define-typography-level(
    fn.to-rem(v.$size-md),
    fn.to-rem(30px),
    v.$semi-bold
);
// For Stat cards/ Login Heading
$headline-3: mat.define-typography-level(
    fn.to-rem(v.$size-md),
    fn.to-rem(30px),
    v.$bold
);
// For Sidebars
$headline-4: mat.define-typography-level(
    fn.to-rem(v.$size-xs),
    fn.to-rem(v.$size-lg),
    v.$regular
);
// For Table Main column
$headline-5: mat.define-typography-level(
    fn.to-rem(v.$size-xs),
    fn.to-rem(v.$size-lg),
    v.$bold
);
// For Card Headings
$headline-6: mat.define-typography-level(
    fn.to-rem(v.$size-xs),
    fn.to-rem(v.$size-lg),
    v.$semi-bold
);
// For Card Headings
$subtitle-1: mat.define-typography-level(
    fn.to-rem(14px),
    fn.to-rem(v.$size-md),
    v.$regular
);
// For Card Subtitles
$subtitle-2: mat.define-typography-level(
    fn.to-rem(12px),
    fn.to-rem(v.$size-sm),
    v.$regular
);
// For Stat card body
$body-1: mat.define-typography-level(
    fn.to-rem(12px),
    fn.to-rem(v.$size-sm),
    v.$semi-bold
);
// For Table Headings
$body-2: mat.define-typography-level(
    fn.to-rem(12px),
    fn.to-rem(v.$size-sm),
    v.$bold
);
// For Table Headings
$caption: mat.define-typography-level(
    fn.to-rem(13px),
    fn.to-rem(v.$size-sm),
    v.$semi-bold
);
$button: mat.define-typography-level(
    fn.to-rem(14px),
    fn.to-rem(21px),
    v.$semi-bold
);

$typography: mat.define-typography-config(
    $headline-1: $headline-1,
    $headline-2: $headline-2,
    $headline-3: $headline-3,
    $headline-4: $headline-4,
    $headline-5: $headline-5,
    $headline-6: $headline-6,
    $subtitle-1: $subtitle-1,
    $subtitle-2: $subtitle-2,
    $body-1: $body-1,
    $body-2: $body-2,
    $caption: $caption,
    $button: $button,
    $font-family: inter,
);
