@use 'abstracts/mixins' as mixin;

.table {
    &__heading {
        text-align: center;

        &--start {
            text-align: start;
        }

        &--end {
            text-align: end;
        }
    }
    &__data {
        text-align: center;
    }
}
