<div class="restaurant-form">
    <div class="restaurant-form__back-btn">
        <app-button
            [label]="'Back'"
            [variant]="'stroked'"
            [iconLabel]="'arrow_back'"
            routerLink="{{ routeKeys.RESTAURANTS }}"
        ></app-button>
    </div>
    <app-heading
        [heading]="isEdit ? 'Edit Restaurant' : 'Add Restaurant'"
        [subHeading]="
            isEdit
                ? 'Update the restaurant name, address, and owners.'
                : 'Add a new partner restaurant to the portal.'
        "
    ></app-heading>
    <app-card-container>
        <app-form
            [restaurantForm]="restaurantForm"
            [owners]="owners"
        ></app-form>
        <p class="mat-subtitle-2">
            Add emails of users who own/manage this restaurant.
        </p>
        <div class="restaurant-form__button-wrapper">
            <app-button
                [label]="'Cancel'"
                [variant]="'stroked'"
                routerLink="{{ routeKeys.RESTAURANTS }}"
            ></app-button>
            <app-button
                [label]="isEdit ? 'SAVE RESTAURANT' : 'CREATE RESTAURANT'"
                [iconLabel]="'save'"
                (click)="handleFormSubmit()"
            ></app-button>
        </div>
    </app-card-container>
</div>
