@use 'abstracts/mixins' as mixin;
@use 'abstracts/functions' as func;
@use 'abstracts/variables' as vars;

.item-card {
    width: 100%;
    border-bottom: vars.$border-light;

    &__container {
        gap: func.to-rem(vars.$size-xs);

        @include mixin.flex-set;
    }

    &__image {
        width: func.to-rem(40px);
        border-radius: 50%;
    }

    &__details {
        flex: 1;
    }
}
