<app-card-container
    [heading]="'Active Orders'"
    [subHeading]="'Manage pending and accepted orders directly from your dashboard.'"
    class="dashboard__table-wrapper"
>
    <app-table
        [dataSource]="restaurantList"
        [columns]="restaurantColumns"
        [templates]="templates"
    ></app-table>
</app-card-container>

<ng-template #chipTemplate let-row>
    <mat-chip *ngFor="let owner of row.owners">{{ owner }}</mat-chip>
</ng-template>

<ng-template #buttonTemplate>
    <app-button
        [label]="'Edit'"
        [iconLabel]="'edit'"
        [variant]="'stroked'"
    ></app-button>
</ng-template>
