<app-card-container *ngIf="isLoggedIn">
    <div class="footer">
        <p class="mat-subtitle-1 footer__text">
            © {{ today | date: 'yyyy' }} Themesberg, LLC. All rights reserved.
        </p>
        <div class="footer__links">
            <div class="footer__links">
                <a
                    *ngFor="let link of socialLinks"
                    [href]="link.route"
                    class="mat-subtitle-1"
                    ><mat-icon
                        class="icons-hover"
                        [svgIcon]="link.icon"
                    ></mat-icon
                ></a>
            </div>
        </div>
    </div>
</app-card-container>
