<app-card-container *ngIf="isLoggedIn">
    <div class="footer">
        <p class="mat-subtitle-1 footer__text">
            © 2021 Themesberg, LLC. All rights reserved.
        </p>
        <div class="footer__links">
            <a href="https://www.facebook.com" class="mat-subtitle-1"
                ><mat-icon>facebook</mat-icon></a
            >
            <a href="https://www.x.com" class="mat-subtitle-1"
                ><mat-icon>close</mat-icon></a
            >
            <a href="https://www.github.com" class="mat-subtitle-1"
                ><mat-icon>commit</mat-icon></a
            >
            <a href="https://www.wikipedia.com" class="mat-subtitle-1"
                ><mat-icon>sports_basketball</mat-icon></a
            >
        </div>
    </div>
</app-card-container>
