@use 'abstracts/mixins' as mixin;
@use 'abstracts/functions' as func;
@use 'abstracts/variables' as vars;
@use 'abstracts/colors' as col;

.main-layout {
    height: 100vh;

    @include mixin.flex-set(normal, normal, column);

    &__content {
        flex: 1;
        min-height: 0;
    }

    &__drawer-wrapper {
        height: 100%;
    }

    &__drawer {
        background-color: col.$background;
        min-width: func.to-rem(250px);
        border-right: vars.$border-light;
    }

    &__content {
        padding: func.to-rem(vars.$size-xs);
        gap: func.to-rem(vars.$size-xs);

        @include mixin.flex-set(normal, normal, column);
    }

    &__outlet {
        flex: 1;
    }
}
