<div class="main-layout">
    <nav>
        <app-header (sidebartoggle)="drawer.toggle()"></app-header>
    </nav>

    <mat-drawer-container class="main-layout__drawer-wrapper" autosize>
        <mat-drawer
            #drawer
            class="main-layout__drawer"
            [mode]="isdesktop ? 'side' : 'over'"
            [opened]="isdesktop"
            *ngIf="isLoggedIn"
        >
            <app-sidebar></app-sidebar>
        </mat-drawer>

        <mat-drawer-content class="main-layout__content">
            <div class="main-layout__outlet">
                <router-outlet></router-outlet>
            </div>
            <app-footer></app-footer>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
