@use 'abstracts/mixins' as mixin;

.main-layout {
    height: 100vh;
    width: 100%;

    @include mixin.flex-set(normal, normal, column);

    &__content {
        flex: 1;
        min-height: 0;
    }
}
