@use 'abstracts/mixins' as mixin;
@use 'abstracts/functions' as func;

.login {
    height: 100vh;

    @include mixin.flex-set;

    &__container {
        padding: func.to-rem(12px);
        gap: func.to-rem(24px);
        box-shadow: 0 5px 10px 2px #0000001f;
    }

    &__heading {
        padding: 0;

        @include mixin.flex-set(center, center, column);
    }

    &__form {
        gap: func.to-rem(10px);

        @include mixin.flex-set(center, center, column);
    }

    &__form-item {
        width: 100%;
    }

    @include mixin.respond(tablet) {
        &__container {
            flex: 0.35;
        }
    }

    @include mixin.respond(desktop-lg) {
        &__container {
            flex: 0.25;
        }
    }
}
