@use 'abstracts/mixins' as mixin;
@use 'abstracts/functions' as func;
@use 'abstracts/variables' as vars;

.stat-card {
    border: vars.$border-light;
    border-radius: func.to-rem(12px);

    &__container {
        padding: 10px;

        @include mixin.flex-set(space-between);
    }
}
