@use 'abstracts/mixins' as mixin;
@use 'abstracts/functions' as func;
@use 'abstracts/variables' as vars;
@use 'themes/palette' as palette;

.stat-card {
    border: vars.$border-light;
    border-radius: func.to-rem(12px);

    &__container {
        padding: func.to-rem(10px);

        @include mixin.flex-set(space-between);
    }

    &__icon {
        width: func.to-rem(40px);
        height: func.to-rem(40px);
        font-size: func.to-rem(vars.$size-xl);

        @include mixin.flex-set;

        &--green {
            color: palette.$icon-green;
            background-color: palette.$icon-green-bg;
        }

        &--blue {
            color: palette.$icon-blue;
            background-color: palette.$icon-blue-bg;
        }

        &--orange {
            color: palette.$icon-orange;
            background-color: palette.$icon-orange-bg;
        }
    }
}
