@use 'abstracts/mixins' as mixin;
@use 'abstracts/colors' as col;

@include mixin.font-face(inter);

.line-clamp-1 {
    @include mixin.line-clamp(1);
}

.line-clamp-2 {
    @include mixin.line-clamp(2);
}

.container {
    width: min(100%, 2560px);
    margin-inline: auto;
}

.icons-hover {
    &:hover,
    &:focus-within {
        color: col.$primary;
    }
}
