@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;
@use '../abstracts/functions' as fn;
@use '@angular/material' as mat;

@include m.font-face(inter);

// Main Heading
$headline-1: mat.define-typography-level(
    $font-weight: v.$bold,
    $font-size: fn.to-rem(v.$size-2xl),
    $line-height: fn.to-rem(62.5px),
    $letter-spacing: normal,
);

// $headline-1: mat.define-typography-level(
// fn.to-rem(v.$size-2xl),fn.to-rem(62.5px), v.$bold
// );

// For Card Container Headings
$headline-2: mat.define-typography-level(
    $font-weight: v.$semi-bold,
    $font-size: fn.to-rem(v.$size-md),
    $line-height: fn.to-rem(30px),
    $letter-spacing: normal,
);
// For Stat cards/ Login Heading
$headline-3: mat.define-typography-level(
    $font-weight: v.$bold,
    $font-size: fn.to-rem(v.$size-md),
    $line-height: fn.to-rem(30px),
    $letter-spacing: normal,
);
// For Sidebars
$headline-4: mat.define-typography-level(
    $font-weight: v.$regular,
    $font-size: fn.to-rem(v.$size-xs),
    $line-height: fn.to-rem(v.$size-lg),
    $letter-spacing: normal,
);
// For Table Main column
$headline-5: mat.define-typography-level(
    $font-weight: v.$bold,
    $font-size: fn.to-rem(v.$size-xs),
    $line-height: fn.to-rem(v.$size-lg),
    $letter-spacing: normal,
);
// For Card Headings
$headline-6: mat.define-typography-level(
    $font-weight: v.$semi-bold,
    $font-size: fn.to-rem(v.$size-xs),
    $line-height: fn.to-rem(v.$size-lg),
    $letter-spacing: normal,
);
// For Card Headings
$subtitle-1: mat.define-typography-level(
    $font-weight: v.$regular,
    $font-size: fn.to-rem(14px),
    $line-height: fn.to-rem(v.$size-md),
    $letter-spacing: normal,
);
// For Card Subtitles
$subtitle-2: mat.define-typography-level(
    $font-weight: v.$regular,
    $font-size: fn.to-rem(12px),
    $line-height: fn.to-rem(v.$size-sm),
    $letter-spacing: normal,
);
// For Stat card body
$body-1: mat.define-typography-level(
    $font-weight: v.$semi-bold,
    $font-size: fn.to-rem(12px),
    $line-height: fn.to-rem(v.$size-sm),
    $letter-spacing: normal,
);
// For Table Headings
$body-2: mat.define-typography-level(
    $font-weight: v.$bold,
    $font-size: fn.to-rem(12px),
    $line-height: fn.to-rem(v.$size-sm),
    $letter-spacing: normal,
);
// For Table Headings
$caption: mat.define-typography-level(
    $font-weight: v.$semi-bold,
    $font-size: fn.to-rem(13px),
    $line-height: fn.to-rem(v.$size-sm),
    $letter-spacing: normal,
);
$button: mat.define-typography-level(
    $font-weight: v.$semi-bold,
    $font-size: fn.to-rem(14px),
    $line-height: fn.to-rem(21px),
    $letter-spacing: normal,
);
$typography: mat.define-typography-config(
    $headline-1: $headline-1,
    $headline-2: $headline-2,
    $headline-3: $headline-3,
    $headline-4: $headline-4,
    $headline-5: $headline-5,
    $headline-6: $headline-6,
    $subtitle-1: $subtitle-1,
    $subtitle-2: $subtitle-2,
    $body-1: $body-1,
    $body-2: $body-2,
    $caption: $caption,
    $button: $button,
    $font-family: inter,
);
